{% extends 'rooms_reservation/base.html' %}

{% block content %}
    <form action="#" method="post">
        {% csrf_token %}
        <h3>Modifying chosen room (ID: {{ id }}):</h3>
        <label>Name:
            <input name="name" type="text" value="{{ name }}">
        </label><br>
        <label>Capacity:
            <input name="capacity" type="number" min="1" value="{{ capacity }}">
        </label><br>
        <label>Projector:
            <input name="projector" type="checkbox" value="True" {% if projector %}checked{% endif %}>
        </label><br>
        <button name="save" type="submit" value="save">Save edits to database</button>
    </form>
    {{ message }}
{%  endblock content %}
